<!DOCTYPE html>
<html lang="ko">
<p id="notice"><%= notice %></p>

    
<div class="about_question_container">
  <p class="about_title"><span class="underline">Ajou Club</span>에 <span class="dot">질</span><span class="dot">문</span>이 있어요!</p>
<div class="about_containers">
  <div class="container_1">
    <img class="about_image" src="/assets/apply.png" />
    <p class="container_head">동아리 등록은 </br> 어떻게 하나요?</p>
    <p class="container_content"> 동아리 등록은 중앙동아리에 등록될 시 주기적인 업데이트를 통해 이 페이지에 등록됩니다. 만약 동아리  등록이 너무 늦어지거나 더욱 빠른 등록을 원하실 때에는 <a class= "about_lion" href="https://fb.com/aulikelion" style="color: #ffa500;">멋쟁이사자처럼at아주대학교</a> 페이스북 메세지로 연락주시길 바랍니다. </p>
  </div>
  <div class="container_2">
    <img class="about_image" src="/assets/content.png"/>
    <p class="container_head">동아리 정보편집은 </br> 어떻게 하나요?</p>
    <p class="container_content"> 동아리 정보편집은 동아리 관리계정으로 로그인한 후에 할 수 있습니다. 동아리 관리계정은 각 동아리마다 하나씩 동아리 대표에게 전달하였습니다. 만약 계정을 전달받지 못하였거나 새로 계정을 받아야 하는 경우 <a class= "about_lion" href="https://fb.com/aulikelion" style="color: #ffa500;">멋쟁이사자처럼at아주대학교</a> 페이스북 메세지로 연락주시길 바랍니다.   </p>
  </div>
  <div class="container_3">
    <img class="about_image" src="/assets/question.png"/>
    <p class="container_head report">문의사항 및 버그신고</p>
    <p class="container_content"> 이 외의 문의사항이나 사이트 버그 발견시에는 언제든지 <a class= "about_lion" href="https://fb.com/aulikelion" style="color: #ffa500;">멋쟁이사자처럼at아주대학교</a> 페이스북 메세지로 연락주시길 바랍니다.</p>
  </div>
</div>
</div>


<div class="about_made_container">
  <p class="about_title_2">우리가 만들었어요!!</p>

  <div class="made_people">
  <div class="ajoulion">
    <img class="ajoulion_img" src="/assets/ajoulion.PNG" />
  </div>
    <div class="grid_1">
      <p>장순호  아주대학교</p><p> 내 거친생각과 00학번</p>
    </div>
    <div class="grid_2">
      <p>이승민  아주대학교</p><p> 불안한 눈빛과 00학번</p>
    </div>
    <div class="grid_3">
      <p>이동건  경기대학교</p><p> 그걸 지켜보는 너어어~ 00학번</p>
    </div>
    <div class="grid_4">
      <p>김윤환  아주대학교</p><p> 그건 아마도 00학번</p>
    </div>
    <div class="grid_5">
      <p>박상아  아주대학교</p><p> 나비효과 00학번</p>
    </div>
    <div class="gird_6">
      <p>이병헌  아주대학교</p><p> 소프트웨어학과 00학번</p>
    </div>
    <div class="gird_7">
      <p>정상원  아주대학교</p><p> 풋사과 00학번</p>
    </div>
    <div class="gird_8">
      <p>이영환  아주대학교</p><p> 산업공학과 17학번</p>
    </div>
    <div class="grid_9">
      <p>유하늘  아주대학교</p><p> 수정과 00학번</p>
    </div>
    <div class="gird_10">
      <p>이형락  아주대학교</p><p> 그라데이션효과 00학번</p>
    </div>
  </div>
  </div>
</div>



  <!--<div class="made_containers">-->
  <!--<div class="about_made">-->
  <!--  <img class="made_image" src="https://i.ytimg.com/vi/WAABoQIXj2E/hqdefault.jpg"/>-->
  <!--  <p class="made_name">나문희</p>-->
  <!--  <p class="made_info">내 거친생각과 15학번</p>-->
  <!--  <p class="made_content">혜미: ㅎ 호구마요?ㅎㅎ 호↗박↘고↘굼.. 문희: 호.박.고.구.마 호박고구마!!! 이제됐냐!! 이ㅆ..</p>-->
  <!--  <a class="made_facebook" href="https://fb.com/aulikelion"><i class="fab fa-facebook-square fa-2x"></i></a>-->
  <!--</div>-->
  <!--<div class="about_made">-->
  <!--  <img class="made_image" src="https://i.ytimg.com/vi/WAABoQIXj2E/hqdefault.jpg"/>-->
  <!--  <p class="made_name">나문희</p>-->
  <!--  <p class="made_info">불안한 눈빛과 16학번</p>-->
  <!--  <p class="made_content">혜미: ㅎ 호구마요?ㅎㅎ 호↗박↘고↘굼.. 문희: 호.박.고.구.마 호박고구마!!! 이제됐냐!! 이ㅆ..</p>-->
  <!--  <a class="made_facebook" href="https://fb.com/aulikelion"><i class="fab fa-facebook-square fa-2x"></i></a>-->
  <!--</div>-->
  <!--<div class="about_made">-->
  <!--  <img class="made_image" src="https://i.ytimg.com/vi/WAABoQIXj2E/hqdefault.jpg"/>-->
  <!--  <p class="made_name">나문희</p>-->
  <!--  <p class="made_info">그걸 지켜보는 너어어~~ 17학번</p>-->
  <!--  <p class="made_content">혜미: ㅎ 호구마요?ㅎㅎ 호↗박↘고↘굼.. 문희: 호.박.고.구.마 호박고구마!!! 이제됐냐!! 이ㅆ..</p>-->
  <!--  <a class="made_facebook" href="https://fb.com/aulikelion"><i class="fab fa-facebook-square fa-2x"></i></a>-->
  <!--</div>-->