

<div class="about_question_container">
  <p class="about_title"><span class="underline">Ajou Club</span>에 <span class="dot">질</span><span class="dot">문</span>이 있어요!</p>
<div class="about_containers">
  <div class="container_1">
    <img class="about_image" src="/assets/apply.png" />
    <p class="container_head">동아리 등록은 </br> 어떻게 하나요?</p>
    <p class="container_content"> 동아리 등록은 중앙동아리에 등록될 시 주기적인 업데이트를 통해 이 페이지에 등록됩니다.
    만약 동아리  등록이 너무 늦어지거나 더욱 빠른 등록을 원하실 때에는 <a class= "about-lion" href="https://fb.com/aulikelion">멋쟁이사자처럼at아주대학교</a> 페이스북 메세지로 연락주시길 바랍니다.
    </p>
  </div>
  <div class="container_2">
    <img class="about_image" src="/assets/content.png"/>
    <p class="container_head">동아리 정보편집은 </br> 어떻게 하나요?</p>
    <p class="container_content"> 동아리 정보편집은 동아리 관리계정으로 로그인한 후에 할 수 있습니다. 
    동아리 관리계정은 각 동아리마다 하나씩 동아리 대표에게 전달하였습니다. 
    만약 계정을 전달받지 못하였거나 새로 계정을 받아야 하는 경우 <a class= "about-lion" href="https://fb.com/aulikelion">멋쟁이사자처럼at아주대학교</a> 페이스북 메세지로 연락주시길 바랍니다.
    </p>
  </div>
  <div class="container_3">
    <img class="about_image" src="/assets/question.png"/>
    <p class="container_head report">문의사항 및 버그신고</p>
    <p class="container_content"> 이 외의 문의사항이나 사이트 버그 발견시에는 언제든지 <a class= "about-lion" href="https://fb.com/aulikelion">멋쟁이사자처럼at아주대학교</a> 페이스북 메세지로 연락주시길 바랍니다.
    </p>
  </div>
</div>
</div>

<div class="about_made_container">
  <p class="about_title_2">우리가 만들었어요!!</p>

  <div class="made_people">
  <div class="ajoulion">
    <img class="ajoulion_img" src="/assets/ajoulion.png" />
  </div>
    <div class="grid_1">
      <p class="made_info">장순호  아주대학교</p><p> 내 거친생각과 00학번</p>
    </div>
    <div class="grid_2">
      <p class="made_info">우승민  아주대학교</p><p> 불안한 눈빛과 00학번</p>
    </div>
    <div class="grid_3">
      <p class="made_info">이동건  경기대학교</p><p> 그걸 지켜보는 너어어~ 00학번</p>
    </div>
    <div class="grid_4">
      <p class="made_info">이형락  아주대학교</p><p> 그라데이션효과 00학번</p>
    </div>
    <div class="grid_5">
      <p class="made_info">김윤환  아주대학교</p><p> 경제학과 15학번</p>
    </div>
    <div class="grid_6">
      <p class="made_info">박상아  아주대학교</p><p> 나비효과 00학번</p>
    </div>
    <div class="grid_7">
      <p class="made_info">유하늘  아주대학교</p><p> 수정과 00학번</p>
    </div>
    <div class="grid_8">
      <p class="made_info">이병헌  아주대학교</p><p> 소프트웨어학과 00학번</p>
    </div>
    <div class="grid_9">
      <p class="made_info">이영환  아주대학교</p><p> 산업공학과 17학번</p>
    </div>
    <div class="grid_10">
      <p class="made_info">정상원  아주대학교</p><p> 풋사과 00학번</p>
    </div>
  </div>
  </div>
</div>
