/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
/* Font Justification */
@font-face { 
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
/* Font Justification End*/


/* Basic initialize CSS at browser */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Basic initialize CSS at browser End*/


/* Basic wrapper */
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
/* Basic wrapper End*/


/* Basic Font Justification */
body{
    font-family: 'GyeonggiBatang','Spoqa Han Sans', sans-serif;
}
/* Basic Font Justification End*/


/* Body section for sticky footer */
#main-section{
    flex: 1 0 auto;
    min-height: 200vh;
}
/* Body section for sticky footer End */


/* Navbar */
#header{
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    background-color: rgba(0,0,0, 0.5);
    color: #fff;
    width: 100%;
}
.header-fixed{
    margin-top: 0 !important;
    position: fixed;
    background-color: rgba(255,255,255, 0.85);
}

.header-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* Navbar End*/


/* Footer */
#footer{
    background-color: #494343;
    flex-shrink: 0;
}
.copyright p{
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0 10px 0;
    color: #888;
}
/* Footer End */
