/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
 
 
@import "font-awesome";

/* Font Justification */
@font-face { 
    font-family: 'GyeonggiBatang'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') 
    format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}
/* Font Justification End*/


/* Basic initialize CSS at browser */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body a {
    text-decoration: none;
}

body a:hover{
        text-decoration: none;
        background: none;
}
body a:visited{
    color: inherit;
}

/* Basic initialize CSS at browser End*/


/* Basic wrapper */
.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
/* Basic wrapper End*/


/* Basic Font Justification */
a,p {
    font-family: 'GyeonggiBatang','Spoqa Han Sans', sans-serif;
}

.logo{
    height: 40px;
    vertical-align: middle;
}

/* Basic Font Justification End*/


/* Body section for sticky footer */
#main-section{
    flex: 1 0 auto;
    min-height: 200vh;
}
/* Body section for sticky footer End */


/* Navbar */
.hidden{
    visibility: hidden;
}

.header{
    position: absolute;
    text-align: center;
    top: 0px;
    z-index: 1000;
    background-color:#072E5D;
    color: #fff;
    width: 100%;
    transition: all .3s;
}
.header.header-fixed{
    display: block;
    position: fixed;
    margin-top: 0 !important;
}
.header.header-below{
    background-color: #072E5D;
    transition: all .3s;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.header-inner{
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-menu-inner li a{
    color: #fff;
    padding: 20px 10px 20px 10px;
}
li{
  background-color: #072E5D;
}
.nav-menu-inner li a:hover{
    transition: all .3s;
    color: #ffd738;
}
.logo-container{
    margin: auto 0 auto 0;
}

.nav-menu-mobile{
    display: none;
}

 /*class="club-name"*/
.club-name{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'GyeonggiBatang','Spoqa Han Sans', sans-serif;
    font-size: 1.6em;
    font-weight: 400;
    
}

.club-short_desc{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'GyeonggiBatang','Spoqa Han Sans', sans-serif;
    font-size: 0.9em;
    font-weight: 100;

}
@media (max-width: 1024px){
    .nav-menu{
        top: 64px;
        right: 0;
        position: absolute;
        height: 0px;
        overflow: hidden;
        transition: all 0.27s;
    }
    .nav-menu-inner{
        flex-direction: column;
    }
    .nav-menu-mobile{
        width: 20px;
        display: inline-block;
        padding-top: 32px;
        padding-bottom: 32px;
        cursor: pointer;
        transition: all 0.27s;
    }
    .nav-menu-mobile span{
        background-color: #fff;
        position: absolute;
        top: 50%;
        display: block;
        width: 18px;
        height: 2px;
        margin-top: -1px;
    }
    .nav-menu-mobile > span:before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateY(-6px);
        transition: transform 0.3s;
    }
    .nav-menu-mobile > span:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateY(6px);
        transition: transform 0.3s;
    }
    .nav-menu.active{
        height: 300%;
    }
    .nav-menu-mobile.active{
        transform: rotate(45deg);
    }
    .nav-menu-mobile.active > span:after{
        transform: rotate(90deg);
    }
    .nav-menu-mobile.active > span:before{
        transform: rotate(90deg);
    }
    
}
/* Navbar End*/


/* Footer */
#footer{
    background-color: #072E5D;
    flex-shrink: 0;
}
.copyright{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 40px 15px 60px 15px;
}
.copyright p{
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0 10px 0;
    color: #888;
}
.copyright p a{
    color: #fff;
}
.copyright p a:hover{
    background: none;
    color: #ffd738;
    transition: all .3s;
}
.facebook_icon:hover{
    color: #ffd738;
}

.linkto-aulikelion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkto-aulikelion li{
    text-align: center;
}

.footer-title-content{
    font-family: 'GyeonggiBatang','Spoqa Han Sans', sans-serif;
    color: #fff;
    font-size: 1.6em;
    margin: 30px 0 30px 0;
    padding-bottom: 10px;
    border-bottom: solid #ffd738 5px;
    letter-spacing: 1px;

}

.linkto-aulikelion li a{
    color: #fff;
    font-size: 1.8em;
}
.linkto-aulikelion li a:hover{
    color: #ffd738;
}

.linkto-aulikelion li p{
    margin-top: 4px;
    color: #e5e5e5;
    font-size: 1.1em;
    font-weight: 100;
}

/* Footer End */

.card {
    display: flex !important;
    justify-content: space-around !important;
    background-color: #f3f3f0 !important;
    /*border: none !important;*/
    

}


/* test */
/*임시용*/
#main-section{
    background: #f3f3f0;
    overflow: hidden;
}

/*로그인 화면*/
.simple_form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.string{
    width: 30em;
    height: 4em;
    margin-bottom: 1rem;

}

.password.optional{
    width: 30em;
    height: 4em;
}
.user_remember_me{
    margin-top: 1em;
}
.boolean.optional{
    margin-right: .5em;
}
#new_user{
    margin-top: 10em;
}

.lo_login{
    font-size: 3em;
    margin-bottom: .5em;
    position: relative;
    text-align: center;
    font-family:'Spoqa Han Sans', sans-serif;
    color: rgba(7, 46, 93, .9);
    
}
.bu_login{
    width: 30em;
    height: 4em;
    margin-bottom: 1em;
   
}

.btn.btn-primary{
    background-color: rgba(255, 193, 14, .9);
    border-color: rgba(255, 193, 14, .9);
}


.btn.btn-primary:visited{
    background-color: rgba(255, 193, 14, .7);
    border-color: rgba(255, 193, 14, .7);
}

.btn.btn-primary:hover{
    background-color: rgba(255, 193, 14, .7);
    border-color: rgba(255, 193, 14, .7);
}
.btn.btn-primary:active{
    background-color: rgba(255, 193, 14, .7);
    border-color: rgba(255, 193, 14, .7);
}

.log_pas{
   border-bottom: 1px solid rgba(255, 193, 14, .7);
   padding-bottom: .3em;
}
.log_pas:link {
  color: #072E5D;
}
.log_pas:visited {
  color: #072E5D;
}
.log_pas:hover {
  color: #CCCCCC;
}
.log_pas:active {
  color: #072E5D;
}


.card-title{
    color:#072E5D;
}

.sec1{
    margin-top:70px;
    margin-left:10%;
    margin-right:10%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.sec1-img{
    width: 50%;
}

.sec1-detail_desc{
    width: 50%;
}

.back-to-main{
    margin-right: 10%;
}

