
@media all and (min-width: 1081px){
  
#mobile-only{
  display: none;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
}

@media all and (max-width: 1080px){
  
#desktop-only{
  display: none;
}  
  
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(100%);
}

.carousel-inner .carousel-item-left.active, 
.carousel-inner .carousel-item-prev {
  transform: translateX(-100%);
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
}


.p_button{
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
}

.p_button:hover{
  color: #000000;
  background-color: #fff;
  transition: 300ms ease all;
}


.container {
    overflow: hidden;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-family:'Spoqa Han Sans';
}

.cat_btn{
  margin-right: .3em; 
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}
.row{
  margin: 4em 0 2em 0;
}

// 검색창 디자인

.search{

  display:flex;
  align-item: center;
  justify-content: center;
}

.club_search{
  margin-bottom: 2em;
}

.has_search{  
  margin-bottom: 2em;
  display:flex;
  align-item: center;
  justify-content: center;
}

input[type='search']{
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
  
}

.bu_search{
  width: 80px;
  height: 100%;
  border: 0px;
  background: #ffd738;
  outline: none;
  color: #ffffff;
  float: right;
  cursor: pointer;
}

// .hashtag_image{
//   left margin: 720px;
// }

@media all and (max-width: 1024px){
  input[type='search']{
    width: 250px;
}
}

// 카테고리 분류 부분 시작
@media all and (min-width: 1081px){
#myBtnContainer_mobile{
  display: none;
}  
  
.btn{
  border: 1px solid black;
  color: darkblue;
  background-color: transparent;
  // padding: 28px 56px; 부트스트랩때문에 적용안됨
  // font-size: 150%;부트스트랩때문에 적용안됨
  cursor: pointer;
  // border-color: #ffd738;부트스트랩때문에 적용안됨
}

#myBtnContainer{
  display:flex;
  justify-content: center;
  align-item: center;
}
}


@media all and (max-width: 1080px){
  #myBtnContainer{
    display: none;
  }
  
  #myBtnContainer_mobile{
    display: block;
    justify-content: center;  // <-- 왜 적용이 안될까 ㅜㅜ display block이라서!
    align-item: center;
  }
  
  .btn{
    margin: 3px 1px 3px 1px;
    color: darkblue;
    background-color: transparent;
    border: 1px solid black;
  }
  .btn:hover{
    background-color: orange;
  }
}

//about 창 디자인
  //about question
.about_question_container{
  margin-bottom: 100px;
}

.about_title{
  display: block;
  font-size: 50px;
  text-align: center;
  margin-top: 100px;
}

.about_containers{
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: center;
  margin-left: 150px;
  margin-right: 150px;
}

.about_image{
  width: 200px;
  height: 200px;
  margin-top: 50px;
  border-radius: 100px;
  vertical-align: middle;
}

.container_head{
  font-size: 30px;
  line-height: 1.1em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container_1, .container_2, .container_3{
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.container_head, .container_content{
  margin: 0 auto;
}

.about_lion:link{
  color: rgb(255, 165, 0);
}

.about_lion:hover{
  color: blue;
}

.report{
  margin: 16px auto;
}

.underline{
  border-bottom: 5px solid orange;
}

.dot{
  border-top: 23.5px dotted orange;
}


 //about made
.about_made_container{
  margin-top: 100px;
  background-color: #fff;
  padding-top: 50px;
} 

.about_title_2{
  display: block;
  font-size: 50px;
  text-align: center;
}

.made_people{
  display: inline-grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(5, 100px);
  align-self: center;
  margin-left: 150px;
  margin-right: 150px;
}

.ajoulion{
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
}

.made_people{
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid_9{
  grid-column-start: 2;
}
.grid_10{
  grid-column-start: 3;
}

// .made_image{
//   width: 200px;
//   height: 200px;
//   border-radius: 100px;
//   vertical-align: middle;
//   border: 5px solid skyblue;
// }

// .made_name{
//   font-size: 30px;
// }

// .about_made{
//   display: block;
//   justify-content: center;
//   align-items: center;
//   margin-left: 15px;
//   margin-right: 15px;
//   text-align: center;
// }

// .made_name, .made_content{
//   margin: 0 auto;
// }

// .fab{
//   color: skyblue;
// }

@media all and (max-width: 1080px){
  .about_question_container, .about_made_container, .about_containers, .made_containers{
    display: block;
  }
  .about_question_container{
    margin-bottom: 0px;
  }
  .container_1, .container_2, .container_3, .about_made{
    margin-bottom: 20px;
  }
  .about_title, .about_title_2{
    font-size: 30px;
  }
  .made_info{
    margin: 0px;
  }
}

.item {
      float: left;
      background-color: #FFE796;
      color: black;
      width: 31.3%;
      line-height: 100px;


      text-align: center;
      margin: 1%;
      overflow: hidden;
      display: block;
      line-height: 200px;
}

@media all and (max-width: 768px){
  .item { width: 48%; }
}

